.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: 
 rgba(108, 139, 44, 0.6); 
  color: white; 
  padding: 25px;
  font-family: "Inter", sans-serif;
}

.Header-logo {
  padding: 10px; 
  color: white; 
}

.left-content {
  flex: 1;
  font-weight: bold;
  margin-left: 40px;
  font-weight: 400;
}

.left-content, .nav-menu, .social-icons {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
  display: flex;
  justify-content: center; 
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  font-weight: bold;
  color: white; /* Set your desired link color */
}

.social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Push social media links to the right */
}

.social-icons a {
  text-decoration: none;
  font-weight: bold;
  color: white; /* Set your desired social media link color */
  margin-left: 10px;
}

.social-icons a {
  /* Apply a filter to make the images white */
  filter: invert(100%);
}

.social-icons img {
  width: 20px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
}
/* Add Font Awesome CSS for the social media icons */
.fa {
  font-size: 24px;
}